## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pathlib import Path
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
file_path = Path('../Weather_Database/WeatherPy_Database.csv')
city_data_df = pd.read_csv(file_path, index_col=[0])
city_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kapaa,US,22.0752,-159.3190,79.12,85,40,16.11,scattered clouds
1,Katsuura,JP,35.1333,140.3000,82.92,82,2,14.79,clear sky
2,Jamestown,US,42.0970,-79.2353,62.71,75,0,3.44,fog
3,Shache,CN,38.4167,77.2406,93.07,17,100,11.72,overcast clouds
4,Bredasdorp,ZA,-34.5322,20.0403,55.26,53,87,5.39,overcast clouds
5,Kaitangata,NZ,-46.2817,169.8464,40.68,92,78,7.45,broken clouds
6,Oranjemund,NaN,-28.5500,16.4333,57.63,51,4,11.56,clear sky
7,Paamiut,GL,61.9940,-49.6678,42.78,92,97,7.36,overcast clouds
8,Bluff,NZ,-46.6000,168.3333,45.75,78,21,11.25,few clouds
9,Providencia,MX,28.7167,-111.5833,83.21,84,98,7.00,overcast clouds

In [5]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2030 entries, 0 to 2029
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 2030 non-null   object
 1   Country              2013 non-null   object
 2   Lat                  2030 non-null   float64
 3   Lng                  2030 non-null   float64
 4   Max Temp             2030 non-null   float64
 5   Humidity             2030 non-null   int64
 6   Cloudiness           2030 non-null   int64
 7   Wind Speed           2030 non-null   float64
 8   Current Description  2030 non-null   object
dtypes: float64(4), int64(2), object(3)
memory usage: 158.6+ KB

In [7]:
city_data_df.dropna(axis=0, how='any')

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kapaa,US,22.0752,-159.3190,79.12,85,40,16.11,scattered clouds
1,Katsuura,JP,35.1333,140.3000,82.92,82,2,14.79,clear sky
2,Jamestown,US,42.0970,-79.2353,62.71,75,0,3.44,fog
3,Shache,CN,38.4167,77.2406,93.07,17,100,11.72,overcast clouds
4,Bredasdorp,ZA,-34.5322,20.0403,55.26,53,87,5.39,overcast clouds
...,...,...,...,...,...,...,...,...,...
2025,Gambiran,ID,-6.7988,111.4951,80.60,67,97,8.16,overcast clouds
2026,Kirove,UA,47.6531,35.6951,90.91,26,0,9.89,clear sky
2027,Tyrma,RU,50.0833,132.1667,70.45,92,64,2.13,broken clouds
2028,Nerchinskiy Zavod,RU,51.3088,119.6100,71.31,81,96,4.52,overcast clouds
2029,Caramoan,PH,13.7707,123.8631,82.17,83,100,6.20,overcast clouds

In [8]:
city_data_df.isnull().sum()

City                    0
Country                17
Lat                     0
Lng                     0
Max Temp                0
Humidity                0
Cloudiness              0
Wind Speed              0
Current Description     0
dtype: int64

In [9]:
city_data_df.loc[(city_data_df["Country"].isnull())]

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
6,Oranjemund,NaN,-28.5500,16.4333,57.63,51,4,11.56,clear sky
101,Luderitz,NaN,-26.6481,15.1594,59.52,51,0,11.68,clear sky
308,Warmbad,NaN,-28.4500,18.7333,52.79,41,0,11.77,clear sky
436,Opuwo,NaN,-18.0607,13.8400,69.26,22,17,6.73,few clouds
450,Henties Bay,NaN,-22.1160,14.2845,56.37,73,51,5.88,broken clouds
777,Maltahohe,NaN,-24.8333,16.9833,51.78,42,0,17.07,clear sky
1076,Okakarara,NaN,-20.5833,17.4333,67.30,20,0,3.74,clear sky
1079,Keetmanshoop,NaN,-26.5833,18.1333,53.46,43,2,14.74,clear sky
1281,Walvis Bay,NaN,-22.9575,14.5053,53.10,100,100,6.91,overcast clouds
1383,Gobabis,NaN,-22.4500,18.9667,66.96,20,1,7.43,clear sky
1437,Rundu,NaN,-17.9333,19.7667,76.78,16,2,6.67,clear sky
1648,Tsumeb,NaN,-19.2333,17.7167,73.04,17,22,7.70,few clouds
1685,Grootfontein,NaN,-19.5667,18.1167,71.17,20,0,3.44,clear sky
1750,Eenhana,NaN,-17.4667,16.3333,78.48,16,3,4.47,clear sky
1855,Aranos,NaN,-24.1333,19.1167,61.97,27,6,12.62,clear sky
1883,Rehoboth,NaN,-23.3167,17.0833,60.33,17,6,6.06,clear sky
1947,Otavi,NaN,-19.6500,17.3333,72.25,17,1,8.52,clear sky

In [10]:
clean_city_data = city_data_df.loc[(city_data_df["Country"].notnull())]
print(clean_city_data.shape)

(2013, 9)

In [11]:
clean_city_data.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = clean_city_data.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Kapaa,US,22.0752,-159.3190,79.12,85,40,16.11,scattered clouds
10,Faanui,PF,-16.4833,-151.7500,79.11,69,7,24.07,clear sky
14,Saraland,US,30.8207,-88.0706,76.05,92,29,2.06,scattered clouds
17,Ribeira Grande,PT,38.5167,-28.7000,73.80,78,20,3.44,few clouds
21,Santa Cruz Cabralia,BR,-16.2781,-39.0247,71.83,94,40,4.61,mist
24,Alofi,NU,-19.0595,-169.9187,75.09,88,4,5.75,clear sky
26,Lafiagi,NG,8.8667,5.4167,78.49,81,100,7.65,overcast clouds
27,Sinnamary,GF,5.3833,-52.9500,77.49,83,13,5.26,few clouds
29,Atuona,PF,-9.8000,-139.0333,76.15,80,19,11.68,light rain
31,Lazaro Cardenas,MX,17.9583,-102.2000,77.00,82,92,4.50,overcast clouds

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [15]:
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 682 entries, 0 to 2028
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City                 682 non-null    object
 1   Country              682 non-null    object
 2   Lat                  682 non-null    float64
 3   Lng                  682 non-null    float64
 4   Max Temp             682 non-null    float64
 5   Humidity             682 non-null    int64
 6   Cloudiness           682 non-null    int64
 7   Wind Speed           682 non-null    float64
 8   Current Description  682 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 53.3+ KB

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City                   682
Country                682
Lat                    682
Lng                    682
Max Temp               682
Humidity               682
Cloudiness             682
Wind Speed             682
Current Description    682
dtype: int64

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Kapaa,US,79.12,scattered clouds,22.0752,-159.3190,
10,Faanui,PF,79.11,clear sky,-16.4833,-151.7500,
14,Saraland,US,76.05,scattered clouds,30.8207,-88.0706,
17,Ribeira Grande,PT,73.80,few clouds,38.5167,-28.7000,
21,Santa Cruz Cabralia,BR,71.83,mist,-16.2781,-39.0247,
24,Alofi,NU,75.09,clear sky,-19.0595,-169.9187,
26,Lafiagi,NG,78.49,overcast clouds,8.8667,5.4167,
27,Sinnamary,GF,77.49,few clouds,5.3833,-52.9500,
29,Atuona,PF,76.15,light rain,-9.8000,-139.0333,
31,Lazaro Cardenas,MX,77.00,overcast clouds,17.9583,-102.2000,

In [18]:
# 6a. Set parameters to search for hotels within 5000 meters.
params = {"radius": 5000, "type": "lodging", "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}" 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params)
    hotels = hotels.json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try :
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
# import requests

# url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522%2C151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY"

# payload={}
# headers = {}

# response = requests.request("GET", url, headers=headers, data=payload)

# print(response.text)

In [19]:
hotels.keys()

dict_keys(['html_attributions', 'results', 'status'])

In [20]:
# Check results 
print(hotel_df.shape)
hotel_df.sample(10)

(682, 7)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
294,Leshukonskoye,RU,76.75,overcast clouds,64.8989,45.7622,Pryalitsa Hostel
612,Ler,SS,73.26,light rain,8.3018,30.1418,Leer Humanitarian Hub
1464,Odesskoye,RU,74.52,overcast clouds,54.2111,72.9651,
1939,Ploemeur,FR,70.63,overcast clouds,47.7333,-3.4333,Best Western Plus Hotel Les Rives Du Ter
844,Ust-Tsilma,RU,78.46,overcast clouds,65.4410,52.1498,U Praskov'i
1492,Puerto Carreno,CO,73.49,overcast clouds,6.1890,-67.4859,Casa Hotel Victoria
413,Morondava,MG,78.44,clear sky,-20.2833,44.2833,La Case Bambou
1604,Yakeshi,CN,75.65,broken clouds,49.2833,120.7333,Longhua Hotel
544,Saint-Pierre,RE,78.48,few clouds,-21.3393,55.4781,Alize Plage
609,Itarema,BR,74.86,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [24]:
# Check if any hotel were found
hotel_df['Hotel Name'].isnull().sum()

0

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.copy()
clean_hotel_df.loc[hotel_df["Hotel Name"] == ""] = np.nan
clean_hotel_df = clean_hotel_df.dropna(axis=0, how='any')
print(clean_hotel_df.shape)
clean_hotel_df.sample(10)

(595, 7)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1667,Sayyan,YE,72.18,overcast clouds,15.1718,44.3244,متنزه و بحيرة سيان
1086,Libreville,GA,78.82,broken clouds,0.3925,9.4537,Le Méridien Re-Ndama
1893,Bulgan,MN,74.73,clear sky,48.8125,103.5347,Unitel Булган салбар
1740,Porto Walter,BR,70.83,scattered clouds,-8.2686,-72.7439,Hotel Silva
529,Isiro,CD,71.89,overcast clouds,2.7739,27.6160,Guest House Hewa Bora
1838,Gazimurskiy Zavod,RU,72.10,overcast clouds,51.5461,118.3266,Gostinitsa Gazimur
1050,Bati,ET,78.17,overcast clouds,11.1833,40.0167,Meqdela Hotel
583,Ciudad Bolivar,VE,74.77,broken clouds,8.1222,-63.5497,Hotel Edi
72,Carnarvon,AU,71.31,overcast clouds,-24.8667,113.6333,Hospitality Carnarvon
571,Saint-Francois,FR,79.68,clear sky,46.4154,3.9054,Manoir Du Bonheur

In [28]:
# 8a. Create the output File (CSV) World_Weather_Analysis/Vacation_Search
output_data_file = ("../Vacation_Search/WeatherPy_Vacation_70_80.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))